SPRING_DATASOURCE_URL=jdbc:mysql://host:puerto/titishop?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Lima
SPRING_DATASOURCE_USERNAME=titishop_user
SPRING_DATASOURCE_PASSWORD=change_me

JWT_SECRET=change_me_generate_with_openssl_rand_base64_64

FRONTEND_PUBLIC_URL=https://titishop.proyectoutp.com
APP_PUBLIC_URL=https://api-titishop.proyectoutp.com
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://titishop.proyectoutp.com,https://www.titishop.proyectoutp.com
APP_UPLOAD_DIR=/app/uploads
APP_UPLOAD_PUBLIC_URL=https://api-titishop.proyectoutp.com/uploads
APP_UPLOAD_MAX_FILE_SIZE=5MB
APP_UPLOAD_MAX_REQUEST_SIZE=6MB

FACTILIZA_API_TOKEN=
FACTILIZA_API_BASE_URL=https://api.factiliza.com/v1
FACTILIZA_CONNECT_TIMEOUT=3s
FACTILIZA_READ_TIMEOUT=6s

SPRINGDOC_API_DOCS_ENABLED=false
SPRINGDOC_SWAGGER_UI_ENABLED=false
